<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DoLogin</servlet-name>
        <servlet-class>servlet.DoLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoLogOut</servlet-name>
        <servlet-class>servlet.DoLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoLogout</servlet-name>
        <servlet-class>servlet.DoLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoSearch</servlet-name>
        <servlet-class>servlet.DoSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoRegister</servlet-name>
        <servlet-class>servlet.DoRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoOrder</servlet-name>
        <servlet-class>servlet.DoOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoUpdateCustomer</servlet-name>
        <servlet-class>servlet.DoUpdateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoDeleteCustomer</servlet-name>
        <servlet-class>servlet.DoDeleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoUpdateProduct</servlet-name>
        <servlet-class>servlet.DoUpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoSearchUser</servlet-name>
        <servlet-class>servlet.DoSearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoDeleteProduct</servlet-name>
        <servlet-class>servlet.DoDeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoInsertProduct</servlet-name>
        <servlet-class>servlet.DoInsertProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductReport</servlet-name>
        <servlet-class>servlet.GetProductReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoUpdateStatus</servlet-name>
        <servlet-class>servlet.DoUpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoDeleteCart</servlet-name>
        <servlet-class>servlet.DoDeleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTransactionReport</servlet-name>
        <servlet-class>servlet.GetTransactionReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoConfirmCart</servlet-name>
        <servlet-class>servlet.DoConfirmCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoCancelTransaction</servlet-name>
        <servlet-class>servlet.DoCancelTransaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoLogin</servlet-name>
        <url-pattern>/DoLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoLogOut</servlet-name>
        <url-pattern>/DoLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoLogout</servlet-name>
        <url-pattern>/DoLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoSearch</servlet-name>
        <url-pattern>/DoSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoRegister</servlet-name>
        <url-pattern>/DoRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoOrder</servlet-name>
        <url-pattern>/DoOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoUpdateCustomer</servlet-name>
        <url-pattern>/DoUpdateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoDeleteCustomer</servlet-name>
        <url-pattern>/DoDeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoUpdateProduct</servlet-name>
        <url-pattern>/DoUpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoSearchUser</servlet-name>
        <url-pattern>/DoSearchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoDeleteProduct</servlet-name>
        <url-pattern>/DoDeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoInsertProduct</servlet-name>
        <url-pattern>/DoInsertProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductReport</servlet-name>
        <url-pattern>/GetProductReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoUpdateStatus</servlet-name>
        <url-pattern>/DoUpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoDeleteCart</servlet-name>
        <url-pattern>/DoDeleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTransactionReport</servlet-name>
        <url-pattern>/GetTransactionReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoConfirmCart</servlet-name>
        <url-pattern>/DoConfirmCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoCancelTransaction</servlet-name>
        <url-pattern>/DoCancelTransaction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--
    <error-page>
        <location>/pagenotfound.jsp</location>
    </error-page>-->
</web-app>
